@media (min-width: 485px) and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 10px;
        z-index: 999;
    }

    #searchInput {
        margin: 0px auto;
    }

    .pesq {
        margin: 20px;
    }

    .menu-interact {
        position: relative;
        bottom: 100px;
        left: 170px;
        display: none;
    }

    .container-tshirts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);



    }

    .item1 img {
    }

    .container-pants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);


    }

    .theme-product {
        padding: 10px;
        margin-top: 50px;
        margin-bottom: -40px;
    }

    .theme-product a {
        text-decoration: none;
        color: black;

    }

    .theme-product h1 {
        /* font-family: "Roboto", sans-serif; */
        font-family: "Zalando Sans", sans-serif;
        font-size: 25px;
        text-align: start;
        margin-left: 30px;


    }

    .container-sets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .item1-mobile {
        display: block;
         max-width: 170px;
    }

    .item1-mobile a {
        text-decoration: none;
    }

    .products {
        border-radius: 0;
        width: 90%;
        margin: 0 auto;
        gap: 0px;
        border-radius: 0px 0px 6px 6px;
    }

    .product h3 {
        font-size: 12px;
    }

    .product {
        background-color: rgba(238, 238, 238, 0.055);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.116);
        border-radius: 5px;
        margin: 6px auto;
        max-width: none;
        padding: 5px;
        width: 95%;



    }

}

@media (min-width: 0px) and (max-width: 484px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 10px;
        z-index: 999;
    }

    #searchInput {
        margin: 0px auto;
    }

    .pesq {
        margin: 20px;
    }

    .menu-interact {
        position: relative;
        bottom: 100px;
        left: 170px;
        display: none;
    }

    .container-tshirts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        flex-wrap: wrap;



    }

    .item1 {}

    .item1 h3 {}

    .item1 h5 {}

    .item1 p {}

    .avaliacao {}


    .item1 img {
        margin: 0 auto;
    }

     .item1-mobile a {
        text-decoration: none;
    }

    .container-pants {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container-sets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .item1-mobile {
        display: block;
    }

    .products {
        border-radius: 0;
        width: 90%;
        margin: 0 auto;
        gap: 0px;
        border-radius: 0px 0px 6px 6px;
    }

    .product h3 {
        font-size: 12px;
    }

    .product {
        background-color: rgba(238, 238, 238, 0.055);
        box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.116);
        border-radius: 5px;
        margin: 6px auto;
        max-width: none;
        padding: 5px;
        width: 95%;



    }


    .theme-product {
        padding: 10px;
        margin-top: 50px;
        margin-bottom: -40px;
    }

    .theme-product a {
        text-decoration: none;
        color: black;

    }

    .theme-product h1 {
        /* font-family: "Roboto", sans-serif; */
        font-family: "Zalando Sans", sans-serif;
        font-size: 25px;
        text-align: start;
        margin-left: 30px;


    }

}

@media (min-width: 0px) and (max-width: 424px) {
    .container-tshirts {
        display: flex;
        flex-wrap: wrap;
    }

    .container-pants {
        display: flex;
        flex-wrap: wrap;
    }

    .container-sets {
        display: flex;
        flex-wrap: wrap;
    }

    .container-sneakers {
        display: flex;
        flex-wrap: wrap;
    }
}